.contact-container {
    display: flex;
  }
  
  .contact-gif-container {
    flex: 0 0 60%;
  }
  
  .contact-form-container {
    flex: 0 0 40%;
  }
  
  .contact-gif {
    width: 100%;
  }
  
  .contact-form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
  }
  
  .form-label {
    margin-bottom: 10px;
    font-size: 18px;
    color: white;
  }
  
  .form-input,
  .form-textarea,input {
    margin-bottom: 10px;
    padding: 5px;
    font-size: 16px;
  }
  
  .form-textarea {
    min-height: 100px;
  }
  
  .form-submit {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  /* Media Queries */
  @media (max-width: 1000px) {
    .contact-container {
      flex-direction: column;
    }
  
    .contact-gif-container {
      display: none;
    }
  
    .contact-form-container {
      flex: 1;
    }
  }
  
  .contactUsTop{
    height: 10vh;
    width: 85vw;
    background-color: transparent;
}